@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;800&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.logo-link {
  width: clamp(130px, 30vw, 220px);
}

.link {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}
.link:hover {
  color: #C05AFF;
}

a {
  text-decoration: none;
}

button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.layout {
  min-height: 100vh;
}

img {
  width: 100%;
}

main {
  flex-grow: 1;
  padding: 64px 0;
  background-image: url(~/assets/img/background.svg);
  background-size: 1500px;
  background-position-x: center;
  background-repeat: no-repeat;
}
@media (max-width: 1500px) {
  main {
    background-size: cover;
  }
}
@media (max-width: 900px) {
  main {
    background-image: url(~/assets/img/star.svg);
    background-size: 100px;
    background-position-x: right;
    background-position-y: 50px;
  }
}

html {
  font-family: "Mulish";
}

body {
  font-size: 18px;
}
@media (max-width: 741px) {
  body {
    font-size: 16px;
  }
}
@media (max-width: 420px) {
  body {
    font-size: 14px;
  }
}

.page-header {
  font-size: 48px;
  font-weight: 800;
}
@media (max-width: 741px) {
  .page-header {
    font-size: 40px;
  }
}
@media (max-width: 420px) {
  .page-header {
    font-size: 32px;
  }
}

.small-header {
  font-size: 24px;
}
@media (max-width: 741px) {
  .small-header {
    font-size: 20px;
  }
}
@media (max-width: 420px) {
  .small-header {
    font-size: 18px;
  }
}

* {
  font-family: "Mulish";
}

.base-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
}

.minmax-slider {
  position: relative;
  --trackHeight: 0.2rem;
  --thumbRadius: 0.8rem;
  width: 150px;
  height: var(--thumbRadius);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.minmax-slider input {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
}
.minmax-slider input::before {
  content: "";
  position: absolute;
  height: var(--trackHeight);
  background: #C05AFF;
  border-radius: 100px;
  left: var(--progressLeft);
  right: var(--progressRight);
  width: var(--sliderWidth);
}
.minmax-slider input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  background: #1d0f1b;
  height: var(--trackHeight);
  border-radius: 100px;
}
.minmax-slider input::-moz-range-track {
  -moz-appearance: none;
       appearance: none;
  background: #1d0f1b;
  height: var(--trackHeight);
  border-radius: 100px;
}
.minmax-slider input::-webkit-slider-thumb {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  width: var(--thumbRadius);
  height: var(--thumbRadius);
  /* margin-top: calc((var(--trackHeight) - var(--thumbRadius)) / 2); */
  background: #C05AFF;
  border-radius: 50%;
  pointer-events: all;
  -webkit-appearance: none;
          appearance: none;
  z-index: 1;
}

.header {
  padding-top: 16px;
}
.header__wrapper {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: clamp(20px, 5vw, 60px);
  overflow: hidden;
}
@media (max-width: 741px) {
  .header__navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 64px;
    transform: translateX(-50%);
    margin-left: 0;
    height: 0;
    width: 100%;
    background-color: white;
    transition: 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}
.header__buttons-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 1.5vw, 50px);
  margin-left: clamp(20px, 5vw, 60px);
}
@media (max-width: 741px) {
  .header__buttons-group {
    margin-top: clamp(20px, 5vw, 60px);
    margin-left: 0;
  }
}
.header__desktop-profile {
  width: clamp(40px, 6.6vw, 52px);
}
@media (max-width: 741px) {
  .header__desktop-profile {
    display: none;
  }
}
.header__mobile-profile {
  width: clamp(33px, 6.6vw, 52px);
}
.header__mobile-content {
  gap: 18px;
  display: none;
}
@media (max-width: 741px) {
  .header__mobile-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .header__mobile-content:has(.burger-button__toggle) ~ .navigation ul li {
    height: 0;
    margin: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .header__mobile-content:has(.burger-button__toggle:checked) ~ .header__navigation {
    height: -moz-fit-content;
    height: fit-content;
    padding: 15px 0;
  }
  .header__mobile-content:has(.burger-button__toggle:checked) ~ .navigation ul li {
    height: 100%;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.navigation__link-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 5.8vw, 70px);
}
@media (max-width: 741px) {
  .navigation__link-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.burger-button__toggle {
  display: none;
}
.burger-button__toggle:checked + .burger-button__container .burger-button__svg::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
.burger-button__toggle:checked + .burger-button__container .burger-button__svg {
  background: none;
}
.burger-button__toggle:checked + .burger-button__container .burger-button__svg::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
.burger-button__container {
  display: none;
  height: 18px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 741px) {
  .burger-button__container {
    display: flex;
  }
}
.burger-button__svg::before {
  content: "";
  margin-top: -8px;
}
.burger-button__svg::after {
  content: "";
  margin-top: 8px;
}
.burger-button__svg, .burger-button__svg::after, .burger-button__svg::before {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.header-select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: black;
  border: none;
  outline: none;
  background: url('data: image/svg+xml, <svg width="15" height="7.5" viewBox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L8.5 8.5" stroke="black" stroke-width="2" stroke-linecap="round"/><path d="M16 1L8.5 8.5" stroke="black" stroke-width="2" stroke-linecap="round"/></svg>') no-repeat;
  background-position: right;
  padding: 3px 20px 3px 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}
.footer {
  background-color: #C05AFF;
  padding: 44px 0;
  color: white;
}
.footer .wrapper {
  height: 100%;
}
.footer__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}
.footer__policy-link {
  display: block;
  color: white;
}
.footer__policy-link:nth-child(2) {
  margin-top: 14px;
}
.footer__logo-link {
  display: block;
  color: white;
}
.footer__rights-reserved {
  text-align: center;
  margin-top: clamp(25px, 5vw, 50px);
}

@media (max-width: 770px) {
  .courses {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}
.courses__wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}
@media (max-width: 1141px) {
  .courses__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media (max-width: 500px) {
  .courses__header {
    font-size: 32px;
  }
}
@media (max-width: 1141px) {
  .courses__header {
    margin-top: 32px;
  }
}
.courses__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.courses__filters-open {
  display: none;
  background-color: #C05AFF;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 12px;
}
@media (max-width: 1141px) {
  .courses__filters-open {
    display: block;
  }
}
.courses__filters {
  margin-top: 64px;
}
@media (max-width: 1141px) {
  .courses__filters {
    display: none;
  }
}
.courses__right-column {
  width: 100%;
}
.courses__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  -moz-column-gap: clamp(20px, 2.7vw, 52px);
       column-gap: clamp(20px, 2.7vw, 52px);
  row-gap: 32px;
  margin-top: 64px;
  max-width: 850px;
}
@media (max-width: 820px) {
  .courses__cards {
    max-width: none;
  }
}
.courses__card {
  max-width: 410px;
}

.course-card {
  position: relative;
  aspect-ratio: 6/5;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;
  background-size: contain;
  background-color: #C05AFF;
  border-radius: 30px;
  padding: 24px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.course-card__header {
  font-weight: 800;
}
.course-card__author {
  position: absolute;
  padding: 5px 16px;
  color: black;
  background-color: #C9FF50;
  border-radius: 60px;
  font-weight: 600;
  font-size: 14px;
  top: 28%;
  left: 38%;
}
.course-card__author::before {
  content: url(~/assets/img/green_triangle.svg);
  position: absolute;
  left: -15px;
  bottom: -20px;
}
.course-card__language {
  position: absolute;
  bottom: 12px;
  left: 100px;
  width: 66px;
  aspect-ratio: 1;
}
.course-card__highlight {
  color: #FFFD50;
}
.course-card__link {
  cursor: pointer;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  gap: 8px;
}
.course-card__link:hover {
  color: #FFFD50;
}
.course-card__price-container {
  font-weight: 800;
  position: absolute;
  bottom: 120px;
  right: 80px;
}
.course-card__discount-price {
  font-size: 40px;
  line-height: 120%;
}
.course-card__price {
  line-height: 120%;
  font-size: 20px;
  position: absolute;
  text-align: right;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
  transform: translateX(20px);
}
.course-card__price::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  border: #FF50BA 1px solid;
}
.course-card__discount {
  position: absolute;
  font-weight: 600;
  font-size: 12px;
  top: -22px;
  right: -33px;
  padding: 0 7px;
  border-radius: 20px;
  background-color: #FF50BA;
}

.courses-filters__inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 32px;
  gap: 10px;
}
.courses-filters__header {
  margin-top: 44px;
  font-weight: 600;
}
.courses-filters__slider {
  margin-top: 10px;
}

.courses-select {
  position: relative;
  z-index: 1;
  border-radius: 25px;
  padding: 15px clamp(44px, 10vw, 60px);
  width: -moz-fit-content;
  width: fit-content;
  background-color: #C05AFF;
  color: white;
  cursor: pointer;
}
@media (max-width: 1141px) {
  .courses-select {
    display: block;
  }
}
.courses-select__shown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.courses-select__options {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: none;
  width: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 2;
  cursor: pointer;
}
.courses-select__options li {
  cursor: pointer;
  display: none;
  padding: 8px 20px;
  width: 100%;
}
.courses-select__options li:last-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.courses-select__options li:hover {
  background-color: #FF50BA;
}
.courses-select.opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.courses-select.opened ul {
  display: flex;
  background-color: #C05AFF;
}
.courses-select.opened ul li {
  display: block;
}

.language-highlight {
  padding: 16px;
  border-radius: 100px;
  background-color: #C9FF50;
}
@media (max-width: 620px) {
  .language-highlight {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=main.css.map */