@mixin flexContainer($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin baseFont() {
    font-size: 1rem;
    font-weight: 600;
}
