@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;600;800&display=swap');

html {
    font-family: 'Mulish';
}

body {
    font-size: 18px;
    @media (max-width:741px) {
        font-size: 16px;
    }
    @media (max-width:420px) {
        font-size: 14px;
    }
}

* {
    font-family: 'Mulish';
}